body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #00416A, #E4E5E6); /* Градиентный фон от темно-синего к светло-серому */
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

div {
  text-align: center;
  width: 100%;
  max-width: 500px;
}

button {
  border: 2px solid transparent;
  background: linear-gradient(90deg, rgba(135,67,255,1) 0%, rgba(234,175,200,1) 100%);
  background-clip: padding-box;
  border-radius: 20px;
  color: white;
  padding: 10px 25px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(135,67,255,0.5), 0 0 20px rgba(234,175,200,0.5); /* Неоновая тень */
  outline: none;
  transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
  background: linear-gradient(90deg, rgba(135,67,255,0.8) 0%, rgba(234,175,200,0.8) 100%);
  box-shadow: 0 0 15px rgba(135,67,255,0.75), 0 0 30px rgba(234,175,200,0.75); /* Усиление неоновой тени при наведении */
}

#usersContainer {
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.1); /* Полупрозрачный фон для контента */
  border-radius: 10px;
  padding: 20px;
  color: #fff;
}

/* Стиль для элементов списка пользователей, если они будут в этом контейнере */
#usersContainer div {
  background-color: rgba(255, 255, 255, 0.2);
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}